# Node
node_modules/

# Python
__pycache__/
*.pyc

# Environment
.env

# Logs
*.log

# Build
dist/
build/

# IDE
.vscode/

# OS
.DS_Store

# Database
*.db

# Docker
*.tar

# Coverage
coverage/

# Misc
*.swp